body {font-family: 'Amatic SC', cursive;
    background-image: url(../images/skulls.png);

}

p {font-size:28px;}

.display {margin-bottom:10px;
        padding-bottom:10px;
        border-bottom-style: dotted;
        border-bottom-color: gray;

}